<div class="form-outer">
	<label>Select websites for distribution:</label>
	<ul id="platforms" class="standard-tiles clearfix">
		<% @platforms.each do |platform| %>
			<li>
				<% if !@enabled_platforms.where(:platform_id => platform.id).empty? %>
					<%= link_to authentication_path(platform), :method => :delete, :class => "auth-provider" do %>
						<%= image_tag "social/#{platform.icon}", :alt => "#{platform.display_name}", :class => "icon" %>
						<%= image_tag "tasks/check-green-small.png", :class => "enabled" %>
						<span>Disable <%= platform.display_name %></span>
						<% if platform.id == 2 && current_user.facebook.accounts.length > 0 %>
							<%= link_to platform_pages_path(platform.id), :id => "fb-pages-link" do %>
								<%= image_tag "gear.png", :class => "settings", :title => "Manage settings" %>
							<% end %>
						<% end %>
					<% end %>
				<% else %>
					<a href="/auth/<%= platform.name %>" class="auth-provider">
						<%= image_tag "social/#{platform.icon}", :alt => "#{platform.display_name}" %>
						<span>Enable <%= platform.display_name %></span>
					</a>
				<% end %>
			</li>
		<% end %>
	</ul>
	<% if show_suggestions %>
		<div class="separator">
			<div></div>
			<label>or</label>
		</div>
		<div id="suggest-platform-outer" class="clearfix">
			<%= semantic_form_for @platform_suggestion, :method => :post, :url => suggest_platform_path, :validate => true, :remote => true do |f| %>
				<%= f.inputs do %>
				  <%= f.input :url, :label => 'Suggest a website we should support:', :label_html => { :style => 'width:325px' }, :input_html => { :placeholder => 'http://' } %>
			  <% end %>
			  <%= f.buttons do %>
				<%= f.commit_button 'Submit' %>
			  <% end %>
			<% end %>
		</div>
	<% end %>
</div>
<div class="details-text">
	<h3>What is this?</h3>
	<span class="intro-text">
		Nexly allows you to automatically publish your reviews to other websites including your social-media pages. These 
		posts contain links which drive traffic back to your main site. 
	</span>
</div>