<% content_for :styles do stylesheet_link_tag "main.css" end %>

<div id="profile-details-pane" class="left-col">
	<div id="avatar-outer">
		<%= raw display_logo(@business, :large) %>
	</div>
	<div id="biz-details" class="panel">
		<h2><%= @business.name %>&nbsp;<%= link_to "Edit Profile", edit_business_path(@business) %></h2>
		<h3><%= @business.location %></h3>
	</div>
	<ul id="user-bio" class="profile-details clearfix">
		<li class="header">
			About <%= @business.name %>
		</li>
		<li>
			<%= @business.biography %>
		</li>
	</ul>
</div>
<div id="dashboard-content-pane" class="right-col">
	<div id="biz-vitals" class="content-panel">
		<h3>
			Business Vitals<%= link_to "View Profile", business_path(@business) %>
		</h3>
		<ul class="profile-details clearfix">
			<li class="header">
				Review Stats:
			</li>
			<li>
				<%= @business.review_stats.count %> <%= @business.review_stats == 1 ? "review" : "review".pluralize %> submitted	
			</li>
			<li>
				<%= @business.active_review_requests.count %> pending review <%= @business.active_review_requests.count == 1 ? "request" : "request".pluralize %>
			</li>
			<li>
				<%= @business.review_stats.average %> is your average rating	
			</li>
			<% if !@business.review_stats.submission_rate.nan? %>
				<li>
					<%= @business.review_stats.submission_rate %> submission rate	
				</li>
			<% end %>
		</ul>
		<ul class="profile-details clearfix">
			<li class="header">
				Social Media:
			</li>
			<li>
				752 page views for reviews	
			</li>
			<li>
				49% cick-through rate
			</li>
			<li>
				13% click-through improvement	
			</li>
		</ul>
	</div>
	<div class="content-panel">
		<h3>
			Latest Reviews<%= link_to "Manage Reviews", business_reviews_path(@business) %>
		</h3>
		<% if @reviews.nil? || @reviews.count == 0 %>
			<span class="no-records">There are no reviews at this time</span>
		<% else %>
			<ul id="biz-reviews" class="standard-list">
				<%= render :partial => 'reviews/review', :collection => @reviews.limit(3), :locals => { :show_admin => false, :truncate_review => false } %>
			</ul>
		<% end %>
	</div>
	<div class="content-panel">
		<h3>
			Apps and settings
		</h3>
	</div>
</div>