<% content_for :styles do stylesheet_link_tag "dashboard", "reviews", "news_posts" end %>
<% content_for :scripts do javascript_include_tag "reviews", "news_posts" end %>

<style type="text/css">
	.ui-tabs .ui-tabs-panel { padding: 1em 0em; }
	.ui-widget-content { border: 0px solid #aaaaaa; }
</style>
<div class="left-col">
	<div id="avatar-outer">
		<%= raw display_logo(@business, :large) %>
	</div>
	<div id="biz-details" class="panel">
		<%= link_to "Edit Profile", edit_business_path(@business), :id => 'edit-profile'  %>
		<%= link_to @business.name, business_path(@business), :id => 'biz-name' %>
		<h3><%= @business.location %></h3>
	</div>
	<ul id="features" class="profile-details clearfix" style="display:none;">
		<li class="header">
			<%= link_to "Manage Features", features_path %>
		</li>
		<li>
			<ul>
				<%= render 'dashboard/features' %>
			</ul>
		</li>
	</ul>
	<ul id="platforms" class="profile-details clearfix">
		<li class="header">
			<%= link_to "Manage Settings", platforms_path %>
		</li>
		<li>
			<ul>
				<%= render 'dashboard/platforms' %>
			</ul>
		</li>
	</ul>
</div>
<div class="right-col">
	<% if @active_feature_count > 0 %>
		<div id="admin-tabs">
			<ul style="display:none;">
				<% if @enable_reviews %>
					<li><a href="#tab-reviews">Reviews</a></li>
				<% end %>
				<% if @enable_news %>
					<li><a href="#tab-news">News</a></li>
				<% end %>
			</ul>
			<% if @enable_reviews %>
				<div id="tab-reviews">
					<%= render 'dashboard/reviews_tab' %>
				</div>
			<% end %>
			<% if @enable_news %>
				<div id="tab-news">
					<%= render 'dashboard/news_tab' %>
				</div>
			<% end %>
		</div>
	<% else %>
		<span class="no-records">You haven't enabled any features yet. <%= link_to 'Click here to manage features', features_path %>.</span>
	<% end %>
</div>