<% content_for :scripts do javascript_include_tag "dashboard", "reviews", "highcharts", "news_posts", "jquery.cookie.js" end %>
<% content_for :styles do %>
	<%= stylesheet_link_tag "dashboard", "reviews", "news_posts" %>

	<style type="text/css">
		.ui-tabs .ui-tabs-panel { padding: 1em 0em; }
		.ui-widget-content { border: 0px solid #aaaaaa; }
	</style>
<% end %>
<%= render 'dashboard/charts_script' %>
<div class="left-col">
	<div id="biz-details" class="panel">
		<%= raw display_logo(@business, :thumb) %>
		<div>
			<%= link_to @business.name, business_path(@business), :id => 'biz-name' %>
			<%= link_to "Edit Profile", edit_business_path(@business), :id => 'edit-profile'  %>
		</div>
	</div>
	<ul id="panel-tabs" ref="analytics-panel" class="clearfix">
		<li id="analytics-tab" ref="analytics-panel" class="header">
			<a class="toggle-link">Analytics</a>
		</li>
		<li id="reviews-tab" ref="reviews-panel" class="header">
			<a class="toggle-link">Pending Reviews (<%= @business.review_meta.pending_review_count %>)</a>
		</li>
		<li id="settings-tab" ref="settings-panel" class="header">
			<a class="toggle-link">Settings</a>
			<%= link_to 'Edit', platforms_path, :class => 'command-link' %>
		</li>
		<li  class="container">
			<ul id="platforms" class="profile-details clearfix">
				<%= render 'dashboard/platforms' %>
			</ul>
		</li>
	</ul>
</div>
<div class="right-col">
	<div id="analytics-panel" class="dashboard-panel">
		<div class="content-panel stats-panel">
			<%= render 'dashboard/stats' %>
		</div>
	</div>
	<div id="reviews-panel" class="content-panel dashboard-panel">
		<h2>
			Reviews Pending Approval
			<%= link_to 'Manage Reviews & Requests', business_pending_reviews_path(@business) %>
		</h2>
		<div id="pending-reviews-outer">
			<%= render 'dashboard/pending_reviews' %>
		</div>
	</div>
</div>
<%= @recommendation_page_view_time_series %>