<% content_for :styles do stylesheet_link_tag "main", "reviews" end %>

<div id="profile-details-pane" class="left-col">
	<div id="avatar-outer">
		<%= raw display_logo(@business, :large) %>
	</div>
	<div id="biz-details" class="panel">
		<%= link_to @business.name, business_path(@business), :class => 'biz-name' %>
		<%= link_to "Edit Profile", edit_business_path(@business) %>
		<h3><%= @business.location %></h3>
	</div>
	<ul id="biz-bio" class="profile-details clearfix">
		<li class="header">
			About <%= @business.name %>
		</li>
		<li>
			<%= @business.biography %>
		</li>
	</ul>
</div>
<div id="dashboard-content-pane" class="right-col">
	<div id="biz-vitals" class="content-panel">
		<ul id="stats-tab" class="profile-details clearfix">
			<li class="header">
				<%= link_to "Review Stats", business_analytics_path(@business) %>
			</li>
			<li>
				<% if @business.reviews.empty? %>
					<span class="no-records">There are no reviews at this time</span>
				<% else %>
					<ul>
						<%= render :partial => 'dashboard/review_stats' %>
					</ul>
				<% end %>
			</li>
		</ul>
		<ul id="social-tab" class="profile-details clearfix">
			<li class="header">
				<%= link_to "Inbound Traffic", business_analytics_path(@business) %>				
			</li>
			<li>
				<% if @business.page_views.count == 0 %>
					<span class="no-records">There is no traffic data at this time</span>
				<% else %>
					<ul>
						<%= render :partial => 'dashboard/traffic_stats' %>
					</ul>
				<% end %>
			</li>
		</ul>
		<ul id="apps-tab" class="profile-details clearfix">
			<li class="header">
				<%= link_to "Apps & Settings", settings_business_path(@business) %>
			</li>
			<li>
				<ul>
					<%= render :partial => 'dashboard/apps_settings' %>
				</ul>
			</li>
		</ul>
	</div>
	<div class="content-panel">
		<h3>
			Reviews Pending Approval
			<%= link_to "Send Requests", business_review_requests_path(@business) %>
			<%= link_to "View All", business_reviews_path(@business) %>
		</h3>
		<% if @business.reviews.empty? %>
			<span class="no-records">There are no reviews pending approval</span>
		<% else %>
			<ul id="biz-reviews" class="standard-list">
				<%= render :partial => 'reviews/review', :collection => @pending_reviews, :locals => { :show_admin => true, :truncate_review => false } %>
			</ul>
			<%= render :partial => 'shared/pager', :locals => { :items => @pending_reviews, :label => "pending review" } %>
		<% end %>
	</div>
</div>