<% content_for :styles do %>
  	<%= stylesheet_link_tag "homepage" %>
<% end %>

<div id="storyboard-pane" class="homepage-pane">
	<div id="storyboard-banner">
		<h1 id="pre">Brand management and client engagement...</h1>
		<h1 id="post">Just got a lot easier</h1>
	</div>
	<div id="viewport">	
		<div id="panel-intro" class="panel">
			<div class="text">
				<h2>Brand management and client-engagement tools for small businesses</h2>
			</div>
			<div class="content"></div>
		</div>
		<div id="panel-demo" class="panel">
			<div class="text">
				<h2>Our First Tool: Nexly Reviews</h2>
				<p>
					80% of decision makers use reviews when making a purchasing decision. Nexly Reviews makes it 
					easy to collect, manage and distribute reviews. 
				</p>
				<ul>
					<li>
						Easily collect reviews and display them within your website
					</li>
					<li>
						Automatically publish reviews out to your social-media pages
					</li>
					<li>
						Allow clients to recommend you to friends and colleagues
					</li>
				</ul>
			</div>
			<div class="content">
				<a href="#" id="play-demo" onclick="play_screencast(); return false;">
	                <img src="/assets/play-demo.png">
					<br>
	                <h2>Watch the Demo</h2>
	            </a>
				<div id="demo-outer">
					<object type="application/x-shockwave-flash" data="/static/swf/player-licensed.swf" width="532" height="293" id="commoncraft-embed" style="visibility: visible; ">
						<param name="allowfullscreen" value="true">
						<param name="wmode" value="transparent">
						<param name="flashvars" value="file=http://scast.s3.amazonaws.com/cc/dropbox_intro.mp4&amp;skin=/static/swf/bekle.swf&amp;controlbar=over&amp;image=/static/images/cc_endframe_en.jpg&amp;autostart=true">
					</object>
				</div>
			</div>
		</div>
		<div id="panel-plans" class="panel">
			<div class="text">
				<h2>We're just getting started</h2>
				<p>
					We want to build a number of tools to help small businesses connect with clients and prospects.
				</p>
				<ul>
					<li>
						Resources - Help your clients make better decisions by managing and distributing white papers, 
						articles and links.
					</li>
					<li>
						Events - Manage and publicize networking events and seminars.  
					</li>
					<li>
						News Updates
					</li>
				</ul>
			</div>
			<div class="content"></div>
		</div>
	</div>
	<div id="panel-nav-prev" class="panel-nav-btn"></div>	
	<div id="panel-nav-next" class="panel-nav-btn"></div>
	<div id="timeline-nav-outer">
		<div id="timeline-nav"></div>
	</div>
	<div id="signup-pane" class="homepage-pane">
		<div id="signup-pane-inner">
			<div id="signup-text">
				<h1>Why Not Sign Up? It's Easy and It's Free to Try.</h1>
				<p>
					In fact, it takes only two steps to started. Just create an account and a profile for your 
					business. In fact, once you're registered, visitors to our site will be able to find your 
					business profile through our search tool. 
				</p>
				<p>
					This is a new tool so we apologize for any bugs that we missed. Also, we would love to hear 
					your feedback.
				</p>
			</div>
			<div id="svc-req-form-outer">
				<h1>Step 1) Create an Account</h1>
				<%= form_for(user_registration_path, :url => user_registration_path) do |f| %>
					<p><%= f.label :email %><br />
				  	<%= f.email_field :email %></p>

				  	<p><%= f.label :password %><br />
				  	<%= f.password_field :password %></p>

				  	<p><%= f.label :password_confirmation %><br />
				  	<%= f.password_field :password_confirmation %></p>

				  	<p><%= f.submit "Sign up" %></p>
				<% end %>
			</div>
		</div>
	</div>
	<div id="sign-up-tab">
		Let's Get Started
	</div>
</div>
<div id="details-pane" class="homepage-pane">
	<div id="overview">
		<h1>Digital Marketing Made Easier</h1>
		<p>
			Digital marketing, brand management and community building are key to the success of small, service-based 
			businesses, yet most SMBs struggle to do these things well.
		</p>
		<p>
			We provide simple, practical tools which simplify tasks like collecting reviews, sharing content, 
			publicizing events, and connecting with prospects and clients.
		</p>
		<p>
			Our solution can be easily integrated into your various web properties, and it's modular so you pay only for 
			what you use. 
		</p>
	</div>
	<div id="highlights">
		<h1>A Few of the Highlights</h1>
		<ul class="clearfix">
			<li>
				<div class="header">
					<%= image_tag "homepage/map.png", :width => 35, :height => 35 %>						
					<h3>More brand exposure and user engagement</h3>
				</div>
				<div class="content">
					<p>
						We want to make it easier for buyers to find and connect with your business. 
					</p>
					<p>
						Our tools connect your various web properties and allow your clients and prospects to engage 
						with your brand in a more-meaningful and engaging way.
					</p>
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/blocks.png", :width => 35, :height => 35 %>
					<h3>A modular solution with flexible pricing</h3>
				</div>
				<div class="content clearfix">
					We built and priced our technology with small businesses in mind. Each tool is offered as 
					a stand-alone feature. This way you can add and remove features and only pay for what you 
					need.
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/gears.png", :width => 35, :height => 35 %>
					<h3>Easy to set up, integrate and use</h3>
				</div>
				<div class="content">
					<p>
						After registering and creating a profile for your business, you can start collecting reviews 
						and managing your brand.
					</p>
					<p>
						You can easily synchronize with your social-media pages, and with a few simple changes you 
						can enable our toolbar to display reviews and updates directly within your marketing website.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
