<% content_for :styles do stylesheet_link_tag "homepage" end %>
<% content_for :scripts do javascript_include_tag "homepage", "jquery.cycle.all.js" end %>

<div id="storyboard-pane" class="homepage-pane">
	<div id="storyboard-banner">
		<h1 id="pre">Reputation Management + Social Media</h1>
		<h1 id="post">= Smarter Web Marketing</h1>
	</div>
	<ul id="viewport">	
		<li id="intro-panel">
			<div class="text">
				<h2>Capture and share customer experiences to generate better leads</h2>
			</div>
			<div class="content">
				<img src="/assets/homepage/rotator/intro.jpg" />
			</div>
		</li>
		<li class="process-panel">
			<div class="text">
				<h2>Collect reviews and recommendations</h2>
				<p>
					Request reviews and recommendations from clients and collect them through your own site using the Nexly toolbar. 
				</p>
				<p>
					After reviews have been submitted, simply choose the ones that you want to highlight. 
				</p>
			</div>
			<div class="content">
				<img src="/assets/homepage/rotator/speech-bubble.jpg" />
			</div>
		</li>
		<li class="process-panel">
			<div class="text">
				<h2>Distribute reviews throughout the web</h2>
				<p>
					Once you approve reviews, they will automatically display on your website in the Nexly toolbar.
				</p>
				<p>
					You can also use Nexly to post reviews to social-media sites like Facebook, LinkedIn and Twitter.
				</p>
			</div>
			<div class="content">
				<img src="/assets/homepage/rotator/distribute.jpg" />
			</div>
		</li>
		<li class="process-panel">
			<div class="text">
				<h2>Generate web traffic and capture leads</h2>
				<p>
					Social-media updates drive traffic back to your site where visitors can use the inquiry tab in the Nexly toolbar to connect with your business.
				</p>
				<p>
					We provide you with detailed analytics to help you monitor the source of leads.
				</p>
			</div>
			<div class="content">
				<img src="/assets/homepage/rotator/analytics.jpg" />
			</div>
		</li>
		<li id="demo-panel">
			<div class="content">
				<a href="#" id="play-demo">
	                <img src="/assets/homepage/play-demo.png" />
	            </a>
			</div>
			<div class="text">
				<h2>Watch our product demo<br /> or sign up<br />...it's free to join (for now)</h2>
			</div>
			<div id="demo-container">
				<div id="close-demo"></div>
				<iframe width="640" height="360" src="http://www.youtube.com/embed/wiLOQi36nQE" frameborder="0" allowfullscreen></iframe>
			</div>
		</li>
	</ul>
	<div id="panel-play-pause" class="panel-nav-btn"></div>	
	<div id="panel-nav-prev" class="panel-nav-btn"></div>	
	<div id="panel-nav-next" class="panel-nav-btn"></div>
	<div id="signup-pane" class="homepage-pane">
		<div id="signup-pane-inner">
			<div id="signup-text">
				<div style="display:none">
					<h1>We're really close to launching!</h1>
					<p>
						Provide us with your email address and we'll alert you as soon as we launch.  Don't worry, your 
						information will stay private and we won't spam you.
					</p>
				</div>
				<h1>It's Easy and Free to Sign Up.</h1>
				<p>
					There are only two steps to register and you don't need a credit card to get started. We just launched so we apologize for any bugs that we missed and we would love to hear your feedback.
				</p>
			</div>
			<div id="svc-req-form-outer">
				<div style="display:none">
					<%= semantic_form_for @signup, :method => :post, :url => beta_signup_create_path, :remote => true do |f| %>
						<%= f.inputs do %>
						  <%= f.input :email , :label => false, :input_html => { :style => 'width:325px;', :placeholder => "Your email address" } %>
					  <% end %>
					  <%= f.buttons do %>
						<%= f.commit_button 'Submit' %>
					  <% end %>
					<% end %>
				</div>
				<h1>Step 1 of 2 - Create an Account</h1>					
				<%= semantic_form_for("user", :method => :post, :url => user_registration_path) do |f| %>
					<%= f.inputs do %>
						<%= f.fields_for :profile_attributes do |profile_form| %>
							<%= profile_form.input :first_name %>
							<%= profile_form.input :last_name %>
						<% end %>
						<%= f.input :email %>
						<%= f.input :password %>
						<%= f.input :password_confirmation %>
					<% end %>
					<%= f.buttons do %>
						<%= f.commit_button 'Create Your Account' %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div id="sign-up-tab">
		Get Registered
	</div>
</div>
<div id="details-pane" class="homepage-pane">
	<div id="overview">
		<h2>Reputation + Social Media = Better Web Marketing</h2>
		<p>
			Nexly combines the social proof of client recommendations and reviews with the reach of social media to give smaller businesses more brand awareness and credidibility.
		</p>
		<h2>We Believe that Simple is Better</h2>
		<p>
			Our goal is to provide an easy-to-understand, affordable toolset that helps your business build brand awareness and generate leads.
		</p>
	</div>
	<div id="highlights">
		<h2>What this means for your business...</h2>
		<ul class="clearfix">
			<li>
				<div class="header">
					<%= image_tag "homepage/people-2.png", :width => 35, :height => 35 %>						
					<h3>Improved client engagement</h3>
				</div>
				<div class="content">
					<p>
						Nexly helps you increase client interaction and better understand your clients' experiences while also driving leads and improving your marketing efforts.
					</p>
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/chart.png", :width => 35, :height => 35 %>
					<h3>Generate more traffic and leads</h3>
				</div>
				<div class="content">
					<p>
						By automatically publishing content to various web destinations, our tools will drive more traffic to your website where you use Nexly to capture these leads.
					</p>
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/map.png", :width => 35, :height => 35 %>						
					<h3>Insights to make better decisions</h3>
				</div>
				<div class="content">
					<p>
						We provide a dashboard of information to help you understand what content and sites are most useful in driving traffic and leads back to your business.
					</p>
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/gears.png", :width => 35, :height => 35 %>
					<h3>Easy to configure and use</h3>
				</div>
				<div class="content">
					<p>
						With little effort you can enable the toolbar to start displaying and collecting recommendations and reviews, while also capturing new leads.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
