<% content_for :styles do %>
  	<%= stylesheet_link_tag "homepage" %>
<% end %>

<div id="storyboard-pane" class="homepage-pane">
	<div id="storyboard-banner">
		<h1 id="pre">Brand management and client engagement...</h1>
		<h1 id="post">Just got a lot easier</h1>
	</div>
	<div id="viewport">	
		<div id="panel-intro" class="panel">
			<div class="text">
				<h2>Brand management and client engagement tools for small and medium businesses</h2>
			</div>
			<div class="content"></div>
		</div>
		<div id="panel-demo" class="panel">
			<div class="text">
				<h2>Our First Tool: NexlyReviews</h2>
				<p>
					80% of decision makers use reviews when making a purchasing decision. NexlyReviews makes it 
					easy to collect reviews and use them as a part of your digital marketing campaign. 
				</p>
				<ul>
					<li>
						Send review invitations to clients
					</li>
					<li>
						Easily collect and manage reviews from clients
					</li>
					<li>
						Automatically publish reviews to your social-media pages 
					</li>
					<li>
						Display reviews within your own website
					</li>
					<li>
						Allow clients to easily recommend you to friends and colleagues
					</li>
				</ul>
			</div>
			<div class="content">
				<a href="#" id="play-demo">
	                <img src="/assets/homepage/play-demo.png">
					<br>
	                <h1>Watch the demo</h1>
	            </a>
			</div>
			<div id="demo-outer">
				<div id="close-demo"></div>
				<object width="415" height="330"><param name="movie" value="http://www.youtube.com/v/dQ8xkB5Hayo&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/dQ8xkB5Hayo&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="415" height="330"></embed></object>
			</div>
		</div>
		<div id="panel-plans" class="panel">
			<div class="text">
				<h2>We're just getting started</h2>
				<p>
					We want to build a number of tools to help small businesses connect with clients and prospects.
				</p>
				<ul>
					<li>
						<strong>Resources</strong> - Help your clients make better decisions by managing and 
						distributing white papers and articles.
					</li>
					<li>
						<strong>Events</strong> - Manage and publicize networking events and seminars to help 
						keep your clients and partners informed and connected.
					</li>
					<li>
						<strong>News</strong> - Keep clients informed by posting updates to your main website 
						and your social-media pages.
					</li>
				</ul>
			</div>
			<div class="content"></div>
		</div>
	</div>
	<div id="panel-play-pause" class="panel-nav-btn"></div>	
	<div id="panel-nav-prev" class="panel-nav-btn"></div>	
	<div id="panel-nav-next" class="panel-nav-btn"></div>
	<div id="timeline-nav-outer">
		<div id="timeline-nav"></div>
	</div>
	<div id="signup-pane" class="homepage-pane">
		<div id="signup-pane-inner">
			<div id="signup-text">
				<div style="display:none">
					<h1>We're really close to launching!</h1>
					<p>
						Provide us with your email address and we'll alert you as soon as we launch.  Don't worry, your 
						information will stay private and we won't spam you.
					</p>
				</div>
				<h1>It's Easy and Free to Sign Up.</h1>
				<p>
					There are only two steps to register and you don't need a credit card to get started. We just launched so we apologize for any bugs that we missed and we would love to hear your feedback.
				</p>
			</div>
			<div id="svc-req-form-outer">
				<div style="display:none">
					<%= semantic_form_for @signup, :method => :post, :url => beta_signup_create_path, :remote => true do |f| %>
						<%= f.inputs do %>
						  <%= f.input :email , :label => false, :input_html => { :style => 'width:325px;', :placeholder => "Your email address" } %>
					  <% end %>
					  <%= f.buttons do %>
						<%= f.commit_button 'Submit' %>
					  <% end %>
					<% end %>
				</div>
				<h1>Step 1 of 2 - Create an Account</h1>					
				<%= semantic_form_for("user", :method => :post, :url => user_registration_path) do |f| %>
					<%= f.inputs do %>
						<%= f.fields_for :profile_attributes do |profile_form| %>
							<%= profile_form.input :first_name %>
							<%= profile_form.input :last_name %>
						<% end %>
						<%= f.input :email %>
						<%= f.input :password %>
						<%= f.input :password_confirmation %>
					<% end %>
					<%= f.buttons do %>
						<%= f.commit_button 'Create Your Account' %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div id="sign-up-tab">
		Let's Get Started
	</div>
</div>
<div id="details-pane" class="homepage-pane">
	<div id="overview">
		<h1>Digital Marketing Made Easier</h1>
		<p>
			Digital marketing, brand management and community building are key to the success of small, service-based 
			businesses, yet most SMBs struggle to do these things well.
		</p>
		<p>
			We provide simple, practical tools which simplify tasks like collecting reviews, sharing content, 
			publicizing events, and connecting with prospects and clients.
		</p>
		<p>
			Our solution can be easily integrated into your various web properties, and it's modular so you pay only for 
			what you use. 
		</p>
	</div>
	<div id="highlights">
		<h1>A Few of the Highlights</h1>
		<ul class="clearfix">
			<li>
				<div class="header">
					<%= image_tag "homepage/map.png", :width => 35, :height => 35 %>						
					<h3>More brand exposure and client engagement</h3>
				</div>
				<div class="content">
					<p>
						We want to make it easier for buyers to find and connect with your business. 
					</p>
					<p>
						Our tools connect your various web properties and allow your clients and prospects to engage 
						with your brand in a more-meaningful and engaging way.
					</p>
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/chart.png", :width => 35, :height => 35 %>
					<h3>Drive more traffic back to your website</h3>
				</div>
				<div class="content">
					<p>
						We want to make it easier for buyers to find and connect with your business. By automatically 
						publishing your content to a number of sites across the web, our tools enable you to drive more 
						traffic to your main site and improve conversion.
					</p>
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/blocks.png", :width => 35, :height => 35 %>
					<h3>A modular solution with flexible pricing</h3>
				</div>
				<div class="content clearfix">
					We built and priced our technology with smaller businesses in mind. Each tool is offered as 
					a stand-alone feature so you can freely add and remove features and only pay for what you need.
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/gears.png", :width => 35, :height => 35 %>
					<h3>Easy to set up, integrate and use</h3>
				</div>
				<div class="content">
					<p>
						After registering and creating a profile for your business, you can start collecting reviews 
						and managing your brand.
					</p>
					<p>
						You can easily synchronize with your social-media pages, and with a few simple changes you 
						can enable our toolbar to display reviews and updates directly within your marketing website.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
