<% content_for :styles do stylesheet_link_tag "app_subscriptions" end %>

<h1>Applications and Settings</h1>
<ul id="subscriptions" class="standard-tiles" style="display:none;">
<h2 class="edit-section">Manage Your Settings</h2>
	<% @apps.each do |app| %>
		<li>
			<h2><%= app.title %></h2>
			<p>
				<strong>Details: </strong><%= app.details %>
			</p>
			<h3>Publishing Options</h3>
			<ul id="app-options">
				<% @platforms.each do |platform| %>
					<li>
						<%= check_box_tag platform.id, platform.name %>
						<%= label_tag platform.id, "Publish to " + platform.name.titleize %>
					</li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>
<h2 class="edit-section">Reviews Settings</h2>
<ul id="app-options">
	<% @platforms.each do |platform| %>
		<li>
			<%= check_box_tag platform.id, platform.name %>
			<%= label_tag platform.id, "Publish to " + platform.name.titleize %>
		</li>
	<% end %>
</ul>
<h2 class="edit-section">Services</h2>
<ul id="services" class="standard-tiles">
	<% @platforms.each do |platform| %>
		<li>
			<a href="/auth/<%= platform.name %>" class="auth-provider">
				<%= image_tag "social/#{platform.name.sub("+", "-plus")}.png", :alt => "#{platform.name}" %>
				<% if !@enabled_platforms.where(:platform_id => platform.id).empty? %>
					<%= image_tag "tasks/check-green-small.png", :class => "enabled" %>
					<span>Disable <%= platform.name.titleize %></span>
				<% else %>
					<span>Enable <%= platform.name.titleize %></span>
				<% end %>
			</a>
		</li>
	<% end %>
</ul>
<h2 class="edit-section">Integration</h2>
<div class="">
	<span class="intro-text">
		Copy the following code and paste it onto every page immediately before the body-closing tag (i.e., &lt;/body&gt;).
	</span>
	<%= text_area_tag 'toolbar_code', @toolbar_code.to_s, :size => '102x10' %>
</div>
<div style="display:none;">
	<%= form_tag :main_test_tweet, :method => :post,  :remote => true do %>
		<%= submit_tag "Post Tweet" %>
	<% end %>
	<%= form_tag :main_test_fb_post, :method => :post,  :remote => true do %>
		<%= submit_tag "Post to FB" %>
	<% end %>
</div>