<% content_for :styles do stylesheet_link_tag "app_subscriptions" end %>

<h1>Manage Your Applications</h1>
<ul id="subscriptions" class="standard-tiles">
	<% @apps.each do |app| %>
		<li>
			<h2><%= app.title %></h2>
			<p>
				<strong>Details: </strong><%= app.details %>
			</p>
			<h3>Publishing Options</h3>
			<ul id="app-options">
				<% @platforms.each do |platform| %>
					<li>
						<%= check_box_tag platform.id, platform.name %>
						<%= label_tag platform.id, "Publish to " + platform.name.titleize %>
					</li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>
<h1>Manage Your Platforms</h1>
<ul id="services" class="standard-tiles">
	<% @platforms.each do |platform| %>
		<li>
			<a href="/auth/<%= platform.name %>" class="auth-provider">
				<%= image_tag "social/#{platform.name.sub("+", "-plus")}.png", :alt => "#{platform.name}" %>
				<% if !@enabled_platforms.where(:platform_id => platform.id).empty? %>
					<%= image_tag "tasks/check-green-small.png", :class => "enabled" %>
					<span>Disable <%= platform.name.titleize %></span>
				<% else %>
					<span>Enable <%= platform.name.titleize %></span>
				<% end %>
			</a>
		</li>
	<% end %>
</ul>
<div style="display:none;">
	<%= form_tag :main_test_tweet, :method => :post,  :remote => true do %>
		<%= submit_tag "Post Tweet" %>
	<% end %>
	<%= form_tag :main_test_fb_post, :method => :post,  :remote => true do %>
		<%= submit_tag "Post to FB" %>
	<% end %>
</div>