<% content_for :styles do stylesheet_link_tag "app_subscriptions" end %>

<h1>Manage Your Applications</h1>
<ul id="subscriptions" class="standard-tiles">
	<% @apps.each do |app| %>
		<li>
			<h2><%= app.title %></h2>
			<p>
				<strong>Details: </strong><%= app.details %>
			</p>
			<h3>Settings</h3>
			<ul style="list-style-type:none;padding-left:10px;">
				<li>
					<%= check_box_tag :selected => true %>
					Publish to Facebook
				</li>
			</ul>
		</li>
	<% end %>
</ul>
<h1>Manage Your Platforms</h1>
<ul id="services" class="standard-tiles">
	<% @platforms.each do |platform| %>
		<li>
			<%= debug @enabled_platforms.where(:platform_id => platform.id) %>
			<a href="/auth/#{platform.name.titleize}" class="auth_provider">
				<%= image_tag "social/#{platform.name.sub("+", "-plus")}.png", :alt => "#{platform.name}" %>
				<% if !@enabled_platforms.where(:platform_id => platform.id).empty? %>
					<%= image_tag "tasks/check-small.png", :class => "enabled" %>
				<% end %>
				<span>Enable <%= platform.name.titleize %></span>
			</a>
		</li>
	<% end %>
</ul>
<div style="display:none;">
	<%= form_tag :main_test_tweet, :method => :post,  :remote => true do %>
		<%= submit_tag "Post Tweet" %>
	<% end %>
	<%= form_tag :main_test_fb_post, :method => :post,  :remote => true do %>
		<%= submit_tag "Post to FB" %>
	<% end %>
</div>