<% content_for :styles do stylesheet_link_tag "app_subscriptions" end %>
<% content_for :scripts do javascript_include_tag "main" end %>

<% content_for :page_header do "Applications and Settings" end %>
<div id="admin-tabs">
	<ul>
		<li><a href="#tab-sites">Manage Distribution Websites</a></li>
		<li><a href="#tab-toolbar">Get the Nexly Toolbar</a></li>
	</ul>
	<div id="tabs-1">
		<ul id="subscriptions" class="standard-tiles" style="display:none;">
		<h2 class="edit-section">Manage Your Settings</h2>
			<% @apps.each do |app| %>
				<li>
					<h2><%= app.title %></h2>
					<p>
						<strong>Details: </strong><%= app.details %>
					</p>
					<h3>Publishing Options</h3>
					<ul id="app-options">
						<% @platforms.each do |platform| %>
							<li>
								<%= check_box_tag platform.id, platform.name %>
								<%= label_tag platform.id, "Publish to " + platform.name.titleize %>
							</li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
	<div id="tabs-2">
		<div style="display:none;">
			<h2 class="edit-section">Reviews Settings</h2>
			<ul id="app-options">
				<% @platforms.each do |platform| %>
					<li>
						<%= check_box_tag platform.id, platform.name %>
						<%= label_tag platform.id, "Publish to " + platform.name.titleize %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="tab-sites">
		<div class="tab-content-outer clearfix">
			<div class="form-outer">
				<label>Select websites for distribution:</label>
				<ul id="services" class="standard-tiles clearfix">
					<% @platforms.each do |platform| %>
						<li>
							<a href="/auth/<%= platform.name %>" class="auth-provider">
								<%= image_tag "social/#{platform.icon}", :alt => "#{platform.name}" %>
								<% if !@enabled_platforms.where(:platform_id => platform.id).empty? %>
									<%= image_tag "tasks/check-green-small.png", :class => "enabled" %>
									<span>Disable <%= platform.name.titleize %></span>
								<% else %>
									<span>Enable <%= platform.name.titleize %></span>
								<% end %>
							</a>
						</li>
					<% end %>
				</ul>
				<div class="separator">
					<div></div>
					<label>or</label>
				</div>
				<div id="suggest-platform-outer" class="clearfix">
					<%= semantic_form_for @platform_suggestion, :method => :post, :url => suggest_platform_path, :validate => true, :remote => true do |f| %>
						<%= f.inputs do %>
						  <%= f.input :url, :label => 'Suggest a new website:', :label_html => { :style => 'width:200px', }, :input_html => { :style => 'width:300px', :placeholder => 'http://' } %>
					  <% end %>
					  <%= f.buttons do %>
						<%= f.commit_button 'Submit' %>
					  <% end %>
					<% end %>
				</div>
			</div>
			<div class="details-text">
				<h3>What is this?</h3>
				<span class="intro-text">
					Nexly allows you to automatically publish your reviews to other websites including your social-media pages. These 
					posts contain links which drive traffic back to your main site. 
				</span>
			</div>
		</div>
	</div>
	<div id="tab-toolbar">
		<div class="tab-content-outer clearfix">
			<label>Don't be alarmed by code...getting the toolbar is easy:</label>
			<div class="form-outer">
				<%= text_area_tag 'toolbar_code', @toolbar_code.to_s, :size => '77x10' %>
			</div>
			<div class="details-text">
				<h3>How Does this Work?</h3>
				<span class="intro-text">
					Adding the Nexly Review toolbar to your site is simple. Just copy the following code and paste it your webpages immediately before the body-closing tag (i.e., &lt;/body&gt;).
				</span>
			</div>
		</div>
	</div>
	<div style="display:none;">
		<%= form_tag :main_test_tweet, :method => :post,  :remote => true do %>
			<%= submit_tag "Post Tweet" %>
		<% end %>
		<%= form_tag :main_test_fb_post, :method => :post,  :remote => true do %>
			<%= submit_tag "Post to FB" %>
		<% end %>
	</div>
	<div class="clearfix"></div>
</div>