<% content_for :styles do stylesheet_link_tag "businesses", "reviews" end %>

<div class="btns-tab small-tab">
	<% if(@business.is_user_admin?(current_user)) %>
		<%= link_to "", "#", :id => "edit-profile-link", :href => edit_business_path(@business), :title => "Edit this business profile" %>
		<%= link_to "", "#", :id => "content-link" %>
	<% else %>
		<%= link_to "", "#", :id => "review-link", :href => new_business_review_path(@business) %>
	<% end %>
</div>
<div id="biz-details-pane" class="left-col">
	<div id="avatar-outer">
		<%= raw display_logo(@business, :large)%>
	</div>
	<ul id="biz-bio" class="profile-details">
		<li class="header">
			About <%= @business.name %>
		</li>
		<li>
			<%= @business.biography %>
		</li>
	</ul>
	<ul id="biz-links" class="profile-details">
		<li class="header">
			Links
		</li>
		<li>
			<%= link_to @business.website, create_redir_link(@business.website), 'data-popup' => true %>
		</li>
		<li>
			<%= link_to @business.facebook, create_redir_link(@business.facebook), 'data-popup' => true %>
		</li>
		<li>
			<%= link_to @business.twitter, create_redir_link(@business.twitter), 'data-popup' => true %>
		</li>
		<li>
			<%= link_to @business.linked_in, create_redir_link(@business.linked_in), 'data-popup' => true %>
		</li>
	</ul>
	<ul id="biz-location" class="profile-details clearfix">
		<li class="header">
			Location
		</li>
		<li>
			<%= @business.address_1 %> <%= @business.address_2 %>
		</li>
  		<li>
			<%= @business.city %>, <%= @business.state %> <%= @business.zip_code %>
		</li>
		<li>
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=200x200&sensor=false&zoom=16&markers=#{@business.latitude}%2C#{@business.longitude}", :class => 'map-img' %>
		</li>
	</ul>
</div>
<div id="biz-content-pane" class="right-col">
	<div id="biz-details">
		<h1><%= @business.name %></h1>
		<h2><%= @business.location %></h2>
	</div>
	<div id="reviews-panel" class="content-panel">
		<h3>Reviews (<%= @reviews.count %> Reviews)</h3>
		<% if @reviews.nil? || @reviews.count == 0 %>
			<span class="no-records">There are no reviews at this time</span>
		<% else %>
			<ul id="biz-reviews" class="standard-list">
				<%= render :partial => 'reviews/review', :collection => @reviews, :locals => { :show_admin => false, :truncate_review => false } %>
			</ul>
			<%= render :partial => 'shared/pager', :locals => { :items => @reviews, :label => "review" } %>
		<% end %>
		<div class="clearfix"></div>
	</div>
	<div id="content-panel" class="content-panel" style="display:none;">
		<h3>Resource Library</h3>
		Articles, white papers, links
	</div>
	<div id="content-panel" class="content-panel" style="display:none;">
		<h3>News</h3>
		News updates
	</div>
</div>