<div id="biz-vitals" class="content-panel">
	<ul id="stats-tab" class="profile-details clearfix">
		<li class="header">
			<%= link_to "Review Stats", business_analytics_path(@business) %>
		</li>
		<li>
			<% if @business.reviews.empty? %>
				<span class="no-records">There are no reviews at this time</span>
			<% else %>
				<ul>
					<%= render :partial => 'dashboard/review_stats' %>
				</ul>
			<% end %>
		</li>
	</ul>
	<ul id="traffic-tab" class="profile-details clearfix">
		<li class="header">
			<%= link_to "Traffic Stats", business_analytics_path(@business) %>
			<% if @traffic.page_views.count > 0 %>
				<span class="date-range">
					<%= @traffic.start_date.to_s(:stats_date) %> to 
					<%= @traffic.end_date.to_s(:stats_date) %>
				</span>
			<% end %>			
		</li>
		<li>
			<% if @traffic.page_views.count == 0 %>
				<span class="no-records">There is no traffic data at this time</span>
			<% else %>
				<ul>
					<%= render :partial => 'dashboard/traffic_stats' %>
				</ul>
			<% end %>
		</li>
	</ul>
</div>
<div class="content-panel">
	<h3>
		Reviews Pending Approval
		<%= link_to "Manage Requests", business_review_requests_path(@business) %>
		<%= link_to "Manage Reviews", business_reviews_path(@business) %>
	</h3>
	<% if @business.reviews.empty? %>
		<span class="no-records">There are no reviews pending approval</span>
	<% else %>
		<ul id="biz-reviews" class="standard-list">
			<%= render :partial => 'reviews/review', :collection => @pending_reviews, :locals => { :show_admin => true, :truncate_review => false } %>
		</ul>
		<%= render :partial => 'shared/pager', :locals => { :items => @pending_reviews, :label => "pending review", :param_name => "reviews_pg" } %>
	<% end %>
</div>