<li>
	<%= pluralize(@business.review_stats.total_review_count, "review") %> submitted
</li>
<li>
	<%= pluralize(@business.review_stats.pending_review_count, "review") %> pending approval
</li>
<li>
	<%= pluralize(@business.review_stats.approved_review_count, "approved review") %>
</li>
<li>
	<%= pluralize(@business.review_stats.pending_request_count, "outstanding request") %>
</li>
<li>
	<%= @business.review_stats.average_rating.round(1) %> is your average rating	
</li>