<ul id="review-stats" class="stats-tabs review-stats clearfix">
	<li class="header"> 
		Review Stats
	</li>
	<li>
		<% if @business.review_meta.total_review_count == 0 %>
			<span id="review-stats-no-records" class="no-records">There are no reviews at this time. <%= link_to 'Send New Review Requests', new_business_review_request_path(@business) %></span>
		<% else %>
			<ul class="clearfix">
				<li>
					<span class="number">
						<%= @business.review_meta.total_review_count %>
					</span>
					<span class="label">
						<%= link_to (@business.review_meta.total_review_count == 1 ? "review" : "review".pluralize) << ' submitted', business_approved_reviews_path(@business) %>
					</span>
				</li>
				<li>
					<span class="number">
						<%= @business.review_meta.average_rating.round(1) %>
					</span>
					<span class="label">
						average rating (out of 5)
					</span>
				</li>
				<li>
					<span class="number">
						<%= @business.review_meta.pending_request_count %>
					</span>
					<span class="label">
						<%= link_to 'outstanding ' << (@business.review_meta.pending_request_count == 1 ? "request" : "requests".pluralize), business_review_requests_path(@business) %>
					</span>
				</li>
				<li>
					<span class="number">
						<%= number_to_percentage(@business.review_meta.request_response_rate * 100, :precision => 0) %>
					</span>
					<span class="label">
						 request response rate
					</span>
				</li>
			</ul>
			<div id="rating-dist-chart" class="chart-outer"></div>
		<% end %>
	</li>
</ul>
<ul id="traffic-stats" class="stats-tabs traffic-stats clearfix">
	<li class="header">
		Traffic Stats 
		<span class="date-range">
			(<%= @traffic_meta.start_date.to_s(:stats_date) %> to <%= @traffic_meta.end_date.to_s(:stats_date) %>)
		</span>
	</li>
	<li>
		<% if @page_view_count == 0 %>
			<span class="no-records">There are no page views at this time</span>
		<% else %>
			<div id="traffic-trend-chart-outer">
				<div id="traffic-trend-chart" class="chart-outer"></div>
				<select id="traffic-view">
					<option>Channel</option>
					<option>Site</option>
				</select>
			</div>
			<ul class="clearfix">
				<li>
					<span class="number">
						<%= @page_view_count %>
					</span>
					<span class="label">
						total page <%= @page_view_count == 1 ? "view" : "view".pluralize %>
					</span>
				</li>
				<li>
					<span class="number">
						<%= number_to_percentage(@total_page_view_growth * 100, :precision => 0) %>
					</span>
					<span class="label">
						 average monthly change in traffic
					</span>
				</li>
			</ul>
			<div id="channel-allocation-chart" class="chart-outer right-margin-applied"></div>
			<div id="platform-allocation-chart" class="chart-outer"></div>
		<% end %>
	</li>
</ul>