<li>
	<%= pluralize(@business.traffic_stats.incoming_traffic, "page view") %>
</li>
<li>
	<%= pluralize(@business.traffic_stats.traffic_by_link_type(LinkClick.types[:review]), "click") %> from reviews
</li>
<li>
	<%= pluralize(@business.traffic_stats.traffic_by_link_type(LinkClick.types[:profile]), "click") %> from your profile links
</li>
<li>
	<%= pluralize(@business.traffic_stats.traffic_by_domain(@business.website.split("/")[2]), "view") %> to <%= @business.website %>
</li>

<!-- Measure incoming traffic to main site from links auto-posted to SM sites -->