<% content_for :styles do %>
	<style>
		table {
			padding:0;
			display:block;
			margin-bottom:15px;
		}
		th {
			background-color:#a1a1a3;
		}
		th, th a {
			color:#fff;
		}
		th, td {
			padding:7px 10px;
			font-size:1.1em;
		}
		tr { 
			border-bottom:#e1e1e3 1px solid;
		}
		.text-col { text-align:left; }
		.nbr-date-col { text-align:center; }
		.alt-row { background-color:#e1e1e3; }
	</style>
<% end %>
<h1>User Registrations</h1>	
<table cellspacing="0" cellpadding="0">
	<th class="text-col"><%= link_to "Name", :sortField => "user_profiles.last_name", :sortDir => @sort_dir %></th>
	<th class="text-col">Business</th>
	<th class="nbr-date-col"><%= link_to "Registration", :sortField => "users.created_at", :sortDir => @sort_dir %></th>
	<th class="nbr-date-col"><%= link_to "Sign-Ins", :sortField => "users.sign_in_count", :sortDir => @sort_dir %></th>
	<th class="nbr-date-col"><%= link_to "Last Login", :sortField => "users.last_sign_in_at", :sortDir => @sort_dir %></th>
	<th class="nbr-date-col">Reviews</th>
	<% @users.each do |u| %>
		<tr class="<%= cycle("", "alt-row") %>">
			<td class="text-col"><%= u.profile.first_name << ' ' << u.profile.last_name %></td>
			<td class="text-col"><%= u.business.nil? ? "" : u.business.name %></td>
			<td class="nbr-date-col"><%= u.profile.created_at.to_s(:stats_date) %></td>
			<td class="nbr-date-col"><%= u.sign_in_count %></td>
			<td class="nbr-date-col"><%= u.last_sign_in_at.nil? ? "" : u.last_sign_in_at.to_s(:stats_date) %></td>
			<td class="nbr-date-col"><%= u.business.nil? ? 0 : u.business.reviews.count %></td>
		</tr>
	<% end %>
</table>
<%= render :partial => 'shared/pager', :locals => { :items => @users, :label => "user", :param_name => "page" } %>