<%= javascript_include_tag "new_recommendation" %>
<%= stylesheet_link_tag "recommendations" %>

<div id="new-rec-outer">
	<h1>Recommend <%= @business.name %></h1>
	<%= semantic_form_for(@rec, :url => business_recommendations_path, :validate => true) do |f| %>
		<%= f.inputs do %>
		  <li class="string required" id="recommendation_name_input">
		  	<%= f.label "Your first/last name:", :style => "width:175px;" %>
		    <%= f.text_field :first_name, :style => "width:200px;" %>
		    <%= f.text_field :last_name, :style => "width:245px;" %>
		  </li>
		  <%= f.input :email, :input_html => { :style => "width:450px;" }, :label_html => { :style => "width:175px;" }, :label => "Recipient's email:" %>
		  <%= f.input :message, :input_html => { :style => "width:450px;", :rows => "5" }, :label_html => { :style => "width:175px;" }, :label => "Message: (optional)" %>
		<% end %>
		<%= f.buttons do %>
			<%= f.commit_button 'Send Recommendation' %>
	    <% end %>
	<% end %>
</div>
