<%= javascript_include_tag "new_recommendation", "jquery.validate.min.js", "public/jquery.form.js", "public/jquery.blockUI.js" %>

<div id="new-rec-outer">
	<h1>Recommend This Business</h1>
	<%= semantic_form_for(@rec, :url => business_recommendations_path, :remote => true, :validate => true, ) do |f| %>
		<%= f.inputs do %>
		  <%= f.input :name , :label => "Your name:" %>
		  <%= f.input :email , :label => "Recipient's email:" %>
		  <%= f.input :message , :label => "Message: (optional)", :input_html => { :rows => 5 } %>
		<% end %>
		<%= f.buttons do %>
			<%= f.commit_button 'Send Recommendation' %>
	    <% end %>
	<% end %>
</div>
