<h1>Recommend This Provider</h1>
<%= semantic_form_for(@rec, :url => business_recommendations_path, :remote => true, :html => { :id => 'new-rec-form' }) do |f| %>
	<%= f.inputs do %>
	  <%= f.input :email , :label => "Your Email:" %>
	  <%= f.input :message , :label => "Message:", :input_html => { :rows => 6 } %>
	<% end %>
	<%= f.buttons %>
<% end %>
