<% require 'rails_rinku' %>

<li id="news-post-<%= post.id %>" class="news-post">
	<% if show_admin %>
		<div class="btns-tab btns-tab-small review-btns">
			<%= render :partial => "news_posts/admin_buttons", :locals => { :post => post } %>
		</div>
	<% end %>
	<h4 class="headline"><%= post.title %></h4>
	<p>
		<%= raw auto_link(truncate_post ? truncate(post.content, :length => 40) : post.content) %>
	</p>
	<div class="footer">
		Posted on <%= post.created_at.to_s(:feed_date_year)%>
	</div>
</li>