<li id="biz-review-<%= review.id %>" class="biz-review">
	<span class="disputed <%= !review.is_under_review ? 'hidden' : '' %>">
		This review has been disputed
	</span>
	<p>
		<%= truncate_review ? truncate(review.details, :length => 40) : review.details %>
	</p>
	<div class="rating-icon">
		<% 1.upto(5) do |n| %>
			<% if n <= review.rating %>
				<div class="rating-star selected"></div>
			<% else %>
				<div class="rating-star deselected"></div>			
			<% end %>
	    <% end %>
		<span>
			(<%= review.rating %> out of 5)
		</span>
	</div>
	<div class="footer">
		<%= image_tag review.avatar.url(:tab) %>
		Posted by <%= review.display_name %> on <%= review.created_at.to_s(:feed_date_year)%>
	</div>
</li>