<%= stylesheet_link_tag "#{root}/assets/plugin_global.css", "#{root}/assets/plugin_canvas.css", "#{root}/assets/toolbar.css", "#{root}/assets/public/formtastic.css", "#{root}/assets/public/formtastic_changes.css", "#{root}/assets/jquery.ui.stars.min.css" %>
<%= javascript_include_tag "jquery.ui.stars.min.js", "public/jquery.validate.min.js", "public/jquery.form.js", "public/jquery.blockUI.js" %>

<div id="toolbarbut"> <!-- hide button -->
	<span class="showbar"><a href="#">show bar <%= root %></a></span>
</div>
<div id="toolbar"> <!-- toolbar container -->
	<div class="leftside"> <!-- all things in floating left side -->
		<ul>
			<% unless Rails.env == "production" %>
				<li>
					<a class="rss" href="/dashboard"></a><!-- icon -->
				</li>
			<% end %>
			<% unless business.linked_in.empty? %>
				<li>
					<a class="link-button linkedin" href="<%= business.linked_in %>"></a> 
				</li>
			<% end %>
			<% unless business.twitter.empty? %>
				<li>
					<a class="link-button twitter" href="<%= business.twitter %>"></a> 
				</li>
			<% end %>
			<% unless business.facebook.empty? %>
				<li>
					<a class="link-button facebook" href="<%= business.facebook %>"></a> 
				</li>
			<% end %>
		</ul>
	</div>
	<div class="rightside"> <!-- all things in floating right side -->
		<span class="downarr"> <!-- hide button -->
			<a href="#"></a>
		</span>
		<% if enable_reviews %>
			<span id="reviews-btns" class="btn-container">
				<% if tb_show_rec_btn %>
					<span class="menu_title">
						<%= link_to "Tell Someone", new_business_recommendations_url(business, :v => "popup"), :id => "new-rec-btn", :class => "menutit", "data-canvas-width" => 650 %>
					</span>
				<% end %>
				<% if is_rev_enabled %>
					<span class="menu_title">
						<%= link_to "Post a Review", new_business_review_url(business, :v => "popup"), :id => "new-review-btn", :class => "menutit", "data-canvas-width" => 650 %>
					</span>
				<% end %>
			</span>
			<span class="menu_title">
				<%= link_to "Reviews (#{@reviews.count})", plugins_reviews_url(:network => business.api_token), :id => "reviews-btn", :class => "menutit", "data-btn-group-id" => "reviews-btns", "data-btn-group-id" => "reviews-btns" %>
			</span>
		<% end %>
		<% if enable_news %>
			<span class="menu_title">
				<a class="menutit" href="#">
					News Updates (<%= news_posts.count %>)
				</a> <!-- quick menu title -->
			</span>
		<% end %>
	</div>
</div>
<div class="clearfix"></div>