<ul id="platforms" class="standard-tiles clearfix">
	<% @platforms.each do |platform| %>
		<li>
			<% unless @active_platform_ids.index(platform.id).nil? %>
				<%= link_to authentication_path(platform), :method => :delete, :class => "deauth-platform" do %>
					<%= image_tag "social/#{platform.icon}", :alt => "#{platform.display_name}", :class => "icon" %>
					<%= image_tag "tasks/check-green-small.png", :class => "enabled" %>
					<span>Disable <%= platform.display_name %></span>
					<% if platform.name == "facebook" && current_user.facebook.accounts.length > 0 %>
						<%= link_to platform_pages_path(platform.id), :id => "fb-pages-link" do %>
							<%= image_tag "tasks/gear.png", :class => "settings", :title => "Manage settings" %>
						<% end %>
					<% end %>
				<% end %>
			<% else %>
				<a href="/auth/<%= platform.name %>" class="auth-platform">
					<%= image_tag "social/#{platform.icon}", :alt => "#{platform.display_name}" %>
					<span>Enable <%= platform.display_name %></span>
				</a>
			<% end %>
		</li>
	<% end %>
</ul>