<p>
	<%= @rec.name %> has recommended <%= @rec.business.name %> for you:
	<br />
	<%= @rec.message %> 
</p>
<p>
	Please click the following link to learn more about <%= @rec.business.name %>: <%= link_to @rec.business.website, @redir_url %>
</p>
<p>
	<span>
		Thanks,
	</span>
	<br />
	<span>
		The Nexly Team
	</span>
</p>