<%= hidden_field_tag "platform-id", @platform_id %>

<h2>Which Facebook pages do you want to post to?</h2>
<ul id="platform-pages">
	<li>
		<input type="checkbox" id="0" class="page-select" <%= @active_pages.length > 0 && !@active_pages.where(:external_id => 0).empty? ? 'checked="checked"' : '' %>>
		<label for="0">Your Profile Page</label>
	</li>
	<% if !@accounts.empty? %>
		<% @accounts.each do |account| %>
			<li>
				<input type="checkbox" id="<%= account.identifier %>" class="page-select" <%= @active_pages.length > 0 && !@active_pages.where(:external_id => account.identifier).empty? ? 'checked="checked"' : '' %>>
				<%= label_tag account.identifier, account.name %>
			</li>
		<% end %>
	<% end %>
</ul>