<% require 'rails_rinku' %>

<p>
	A new review has been submitted for <%= @review.business %>. See details below or click the link to manage your reviews. 
</p>
<p>
	<h3>Sender Details</h3>
	<strong>Name:</strong> <span><%= @review.name %></span>
	<br />
	<strong>Email:</strong> <span><%= @review.email %></span>
</p>
<p>
	Click the following link to manage your reviews: <%= link_to business_approved_reviews_path(@review.business).to_s, business_approved_reviews_path(@review.business) %>
</p>
<%= link_to business_url(@review.business).to_s, business_url(@review.business) %>