<p>
	<%= @sender.first_name %> <%= @sender.last_name %> is collecting client reviews for <%= @business.name %> 
	and would love to get feedback.  It's fast and easy: Just click the link below and share your thoughts.
</p>
<p>
	Please client the following link to submit a review: <%= link_to new_business_review_url(@business, :token => @request.token).to_s, new_business_review_url(@business, :token => @request.token) %>
</p>
<p>
	<span>
		On behalf of <%= @sender.first_name %> we want to thank you for your time,
	</span>
	<br />
	<span>
		The Nexly Team
	</span>
</p>
