<% content_for :page_header do "Send Requests for New Reviews" end %>
<p>
	Each person will receive an email asking to submit a review.  This email will contain a link with a token 
	that will prevent multiple reviews from being submitted.
</p>
<%= form_tag business_review_requests_path, :class => 'formtastic' do |f| %>
	<fieldset class="inputs">
		<ol>
			<li class="string required">
				<%= label_tag 'emails', 'Provide email addresses: (Separated by a comma)' %>
				<%= text_area_tag 'emails', nil, :size => '75x5' %>
			</li>
			<li class="string required">
				<%= label_tag 'message', 'Include a message: (Optional)' %>
				<%= text_area_tag 'message', nil, :size => '75x7' %>
			</li>
		</ol>
	</fieldset>
	<fieldset class="buttons">
		<%= submit_tag "Send Requests"  %>
	</fieldset>
<% end %>


