<li id='biz-review-<%= review.id %>' class="biz-review">
	<% if show_admin %>
		<div class="btns-tab btns-tab-small review-btns">
			<%= render :partial => 'reviews/admin_buttons', :locals => { :review => review } %>
		</div>
	<% end %>
	<span class="disputed <%= !review.is_under_review ? 'hidden' : '' %>">
		This review has been disputed
	</span>
	<p>
		<%= truncate_review ? truncate(review.details, :length => 40) : review.details %>
	</p>
	<div class="rating-icon">
		<%= review.rating %> out of 5
	</div>
	<div class="footer">
		Posted
		<% if !review.user.nil? %>
			by <%= review.user.display_name %> 
		<% end %>
		 on <%= review.created_at.to_s(:feed_date)%>
		<% if show_admin %>
			<span class="approved <%= !review.is_approved ? 'hidden' : '' %>">
				(This review is approved)
			</span>
		<% end %>
	</div>
</li>