<% content_for :styles do stylesheet_link_tag "reviews" end %>
<% content_for :scripts do %>
	<%= javascript_include_tag "reviews" %>
	
	<style type="text/css">
		#page-header {
			float:left;
			margin-bottom:25px;
		}
		span.no-records {
			display:block;
			clear:both;
		}
	</style>
<% end %>

<% content_for :page_header do %>
	<%= @header %>
<% end %>
<div id="reviews-view">
	<%= link_to "Requests", business_review_requests_path, :class => (@view == 'requests' ? 'ui-state-active' : '') %>
	<%= link_to "Pending", business_pending_reviews_path, :class => (@view == 'pending' ? 'ui-state-active' : '') %>
	<%= link_to "Approved", business_approved_reviews_path, :class => (@view == 'approved' ? 'ui-state-active' : '') %>
	<%= link_to "Rejected", business_rejected_reviews_path, :class => (@view == 'rejected' ? 'ui-state-active' : '') %>
</div>
<div class="btns-tab">
	<% if(@business.is_user_admin?(current_user)) %>
		<%= link_to '', '#', :id => 'new-req-link', :href => new_business_review_request_path(@business), :title => 'Send review requests' %>
	<% end %>
</div>

<% if @view == 'requests' %>
	<% if @requests.empty? %>
		<span class="no-records">There are no review requests at this time. <%= link_to 'Send New Requests', new_business_review_request_path(@business) %></span>
	<% else %>
		<ul id="review-requests" class="standard-list">
			<%= render :partial => "review_requests/review_request", :collection => @requests, :locals => { :show_admin => true }  %>
		</ul>
		<%= render :partial => 'shared/pager', :locals => { :items => @requests, :label => 'pending request' } %>
	<% end %>
<% else %>
	<% if @reviews.empty? %>
		<span class="no-records">There are no reviews at this time.</span>
	<% else %>
		<ul id="review-requests" class="standard-list">
			<%= render :partial => "reviews/review", :collection => @reviews, :locals => { :show_admin => true, :truncate_review => false }  %>
		</ul>
		<%= render :partial => 'shared/pager', :locals => { :items => @reviews, :label => "review" } %>
	<% end %>
<% end %>