<script type="text/javascript">
	$(function() {
		$('#rating-outer').stars({
			cancelShow: false
		});
	});
</script>
<h1>Post a New Review</h1>
<div id="new-review-outer">
	<%= semantic_form_for(@review, :url => business_reviews_path, :remote => true) do |f| %>
		<%= f.inputs do %>
		  <li id="rating-outer">
			<%= f.label 'How would you rate this provider?' %>
		    <% 0.upto(5) do |n| %>
		      <%= f.radio_button :rating, n %>
		    <% end %>
		  </li>
		  <%= f.input :details , :label => 'Please share some thoughts about this provider:', :input_html => { :rows => 8 } %>
	  <% end %>
	  <%= f.buttons do %>
		<%= f.commit_button 'Submit Review' %>
	  <% end %>
	<% end %>
	<strong><%= @review.business.name %> posts their reviews to Twitter and LinkedIn</strong>
	<br />
	<a><strong>View terms and conditions</strong></a>
</div>