<h1>Post a New Review</h1>
<%= semantic_form_for(@review, :url => business_reviews_path) do |f| %>
	<%= f.inputs do %>
	  <%= f.input :details , :label => "Details:", :label_html => { :style => 'width:35%' }, :input_html => { :rows => 3, :style => 'width:62%' } %>
	  <%= f.input :rating, :label => "How would you rate this provider?", :label_html => { :style => 'width:35%' }, :input_html => { :style => 'width:62%' } %>
	<% end %>
	<%= f.buttons %>
<% end %>
