<%= javascript_include_tag "new_review" %>
<%= stylesheet_link_tag "reviews" %>

<div id="new-review-outer">
	<h1>Post a Review for <%= @business.name %></h1>
	<%= semantic_form_for(@review, :url => business_reviews_path) do |f| %>
	  <%= f.inputs do %>
	  	<%= hidden_field_tag "view", @view %>
		<li class="string required" id="review_name_input">
		  <%= f.label "Your first/last name:", :style => "width:175px;" %>
		  <%= f.text_field :first_name, :style => "width:190px;" %>
		  <%= f.text_field :last_name, :style => "width:235px;" %>
		</li>
		<%= f.input :email, :input_html => { :style => "width:430px;" }, :label_html => { :style => "width:175px;" }, :label => "Your email:" %>
	   	<%= f.input :avatar, :input_html => { :style => "width:250px;" }, :label_html => { :style => "width:175px;" }, :label => "Add a picture or logo: (optional)" %>
	  	<li id="rating-outer">
			<%= f.label 'Please rate this business: *', :style => "width:225px;" %>
	  		<div id="stars-outer">
		    	<% 0.upto(5) do |n| %>
		      		<%= f.radio_button :rating, n %>
		    	<% end %>
	  		</div>
			<label id="review-rating-error" for="review_rating" class="custom-error">Select a rating</label>
	  	</li>
		<%= f.input :review_request_id, :as => :hidden %>
		<%= f.input :details , :label => "Please share your thoughts about this business:", :label_html => { :style => "width:75%;" }, :input_html => { :rows => "6" } %>
	  <% end %>
	  <%= f.buttons do %>
		<%= f.commit_button 'Submit Review' %>
	  <% end %>
	  <% if @review.business.active_platforms.count > 0 %>
	  	<strong>
			<%= @review.business.name %> posts their reviews to <%= @review.business.active_platforms.map{|p| p.display_name}.join(', ') %>
	  	</strong>
	  	<br />
	  <% end %>
	  <a style="display:none"><strong>View terms and conditions</strong></a>
	<% end %>
</div>