<!DOCTYPE html>
<html>
<head>
	<title>Nexly - Where businesses connect</title>

	<%= stylesheet_link_tag "application", "app_global", "app_layout" %>
	<%= yield :styles %>
	<%= javascript_include_tag "application", "app_global" %>
	<%= yield :scripts %>

	<%= csrf_meta_tag %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-24238742-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div id="backdrop"></div>
	<% if user_signed_in? %>
		<div id="feedback-tab">
			<%= link_to 'Feedback', feedback_path, :id => 'submit-feedback'  %>
		</div>
	<% end %>
	<div id="container">
		<div id="container-inner">
			<div id="flash-outer">
				<% flash.each do |key, msg| %>
				    <%= content_tag :div, msg, :class => ['flash ', key], :id => 'flash_#{key}' %>
				<% end %>
			</div>
			<div id="header">
				<a id="logo" href="/">
					<%= image_tag "home.png", :id => "home-icon" %>
				</a>
				<div id="hdr-controls">
					<% unless @hide_menu %>
						<div id="hdr-nav-outer">
							<% if user_signed_in? %>
								<ul id="hdr-nav" class="navigation app-nav">
									<% unless @hide_menu %>
										<li><%= link_to "Dashboard", dashboard_path() %></li>
									<% end %>
									<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
								</ul>
							<% else %>
								<ul id="hdr-nav" class="navigation site-nav">
									<li><%= link_to "Register", new_user_registration_path, :id => "register-link" %></li>
									<li><%= link_to "Log In", new_user_session_path, :id => "login-link" %></li>
								</ul>
							<% end %>
							<div class="clearfix"></div>
						</div>
						<div id="search-outer">
							<%= form_tag businesses_path, :method => "get" do %>
								<%= text_field_tag :q %>
								<%= submit_tag "", :id => "search-btn" %>
							<% end %>
							<div class="clearfix"></div>
						</div>
					<% end %>
				</div>
			</div>
			<div id="main-content" class="clearfix">
				<% if content_for? :page_header %>
					<h1 id="page-header">
			  			<%= yield :page_header %>
					</h1>
				<% end %>
			  	<%= yield %>
			  	<%= yield :closure %>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div id="footer-outer">
		<div id="footer-inner" class="clearfix">
			<ul id="ftr-nav" class="navigation clearfix">
				<li><span>Nexly LLC</span></li>
				<li><%= link_to "Twitter", "http://twitter.com/nexlyllc" %></li>
			</ul>
		</div>
	</div>
</body>
</html>
