<!DOCTYPE html>
<html>
<head>
  <title>Nexly - Where businesses connect</title>
  
  <%= stylesheet_link_tag "application", "app_global", "app_layout" %>
  <%= yield :styles %>
  <%= javascript_include_tag "application", "app_global" %>
  <%= yield :scripts %>
  
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="backdrop"></div>
	<div id="container">
		<div id="container-inner">
			<div id="flash-outer">
				<% flash.each do |key, msg| %>
				    <%= content_tag :div, msg, :class => ["flash ", key], :id => "flash_#{key}" %>
				<% end %>
			</div>
			<div id="header">
				<a id="logo" href="/">
					<%= image_tag "home.png", :id => "home-icon" %>
				</a>
				<% if user_signed_in? %>
					<div id="hdr-controls">
						<div id="hdr-nav-outer">
							<% if user_signed_in? %>
								<% unless @hide_menu %>
									<ul id="hdr-nav" class="navigation app-nav">
										<li><%= link_to "Dashboard", dashboard_path() %></li>
										<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
									</ul>
								<% end %>
							<% else %>
								<ul id="hdr-nav" class="navigation site-nav">
									<li><%= link_to "Register", new_user_registration_path, :id => "register-link" %></li>
									<li><%= link_to "Log In", new_user_session_path, :id => "login-link" %></li>
								</ul>
							<% end %>
							<div class="clearfix"></div>
						</div>
						<% unless @hide_menu %>
							<div id="search-outer">
								<%= form_tag :search, :method => "get" do %>
									<%= text_field_tag :q %>
									<%= submit_tag "", :id => "search-btn" %>
								<% end %>
								<div class="clearfix"></div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
			<div id="main-content" class="clearfix">
			  	<%= yield %>
			  	<%= yield :closure %>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div id="footer-outer">
		<div id="footer-inner" class="clearfix">
			<ul id="ftr-nav" class="navigation clearfix">
				<li><span>Nexly LLC</span></li>
				<li><%= link_to "Twitter", "http://twitter.com/nexlyllc" %></li>
			</ul>
		</div>
	</div>
</body>
</html>
