<!DOCTYPE html>
<html>
<head>
  <title>Nexly Demo Site</title>
  
  <%= stylesheet_link_tag "demo", "toolbar", "public/formtastic", "public/formtastic_changes", "public/colorbox", "reviews", "jquery.ui.stars.min.css" %>
  <%= yield :styles %>
  <%= javascript_include_tag "application", "toolbar", "jquery.ui.stars.min.js" %>
  <%= yield :scripts %>
  
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<div id="header">
			<%= image_tag "demo/logo.jpg", :id => "inset", :size => '125x117' %>
		</div>
		<div id="hdr-nav">
			<ul class="navigation">
				<li><%= link_to "Home", "#" %></li>
				<li><%= link_to "About Us", "#" %></li>
				<li><%= link_to "Services", "#" %></li>
				<li><%= link_to "Resources", "#" %></li>
				<li><%= link_to "Events", "#" %></li>
				<li><%= link_to "Reviews", "#" %></li>
				<li><%= link_to "Contact Us", "#" %></li>
			</ul>
		</div>
		<div id="main-content">
		  	<%= yield %>
		  	<%= yield :closure %>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="footer-outer">
		<div id="footer-inner" class="clearfix">
			<ul id="ftr-nav" class="navigation clearfix">
				<li><span>BCI Consulting</span></li>
				<li><%= link_to "Twitter", "twitter.com" %></li>
				<li><%= link_to "Blog", "#" %></li>
			</ul>
		</div>
	</div>
	<%= render :partial => 'plugins/toolbar_code', :locals => { :api_token => @business.api_token } %>
</body>
</html>
